* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow: hidden;
    background-color: #CCCCCC;
    color: #000000;
}

#bee-plugin-container {
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
}